footer{
    height: 50vh;
    position: relative;
    top: 100px;
}
.container2 {
    padding: 0px 10%;
    width: 80%;
}
.end-firstpart {
    height: 100px;
    background-color: rgba(250, 250, 250, 1);
    margin-top:0px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.end-btn{
    width: 150px;
    height: 50px;
    color:rgba(255, 255, 255, 1);
    background-color: rgba(120, 79, 51, 1);
    border-color:  rgba(120, 79, 51, 1);
    border-radius: 4px;
}

